html {
  overflow: auto;
}

.climb-area {
  font-size: large;
  font: message-box;
  background-color: lightgray;
  padding: 5px;
  display:table;
  -webkit-border-radius: 9px;/*Safari, Chrome*/
  -moz-border-radius: 9px;/*Firefox*/
  border-radius: 9px;
}

/* .climb-area:after {
	right: 100%;
	top: 10px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: grey;
	border-width: 5px;
	margin-top: 0px;
} */

/* .climb-area-none {
} */

.leaflet-pane {
  z-index: 190;
}

.leaflet-control {
  z-index: 190;
}

.leaflet-top {
  top: 70px;
}

.climb-area-highlight{
  color: #3490dc;
}

.climb-area-selected{
  color: orangered;
}

.popup-box {
  width: 150px;
  height: auto;
}
