ip: 192.168.10.10
memory: 4096
cpus: 2
provider: virtualbox
authorize: ~/.ssh/id_rsa.pub
keys:
    - ~/.ssh/id_rsa
folders:
    -
        map: /home/marko/Projects/web/climb
        to: /home/vagrant/code
sites:
    -
        map: climb.local
        to: /home/vagrant/code/public
databases:
    - homestead
name: climb
hostname: climb
ports:
    - send: 3000
      to: 3000
      protocol: tcp

    - send: 8080
      to: 8080
      protocol: tcp
